{% extends "index.html" %}
{% load static %}

{% block title %}
{{setting.title}}
{% endblock title %}


{% block discription %}
Online Shopping Mart
{% endblock discription %}">

{% block keywords %}
{% endblock keywords %}

{% block header %}
{% include "header.html" %}
{% endblock header %}

{% block sidebar %}
{% endblock sidebar %}

{% block slider %}
{% include "slider.html" %}
{% endblock slider %}



{% block footer %}
{% include "footer.html" %}
{% endblock footer %}



{% block content %}
{% include "content.html" %}
{% endblock content %} 