
{% extends "index.html" %} 
{% load static %}

{% load crispy_forms_tags %}

{% block title %} Login {% endblock title %} 

{% block discription %}
{{setting.description}} 
{% endblock discription %}"> 

{% block keywords %}
{% endblock keywords %} 

{% block header %}
{% include "header.html" %}
{% endblock header %} 

{% block anather_content %}




<div class="breadcrumb-area">
  <div class="container">
      <div class="breadcrumb-content">
          <ul>
              <li><a href="index.html">Home</a></li>
              <li class="active"> Register</li>
          </ul>
      </div>
          <div>
{%if messages %} {% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">
{{message}}
</div>
{% endfor %} {% endif %}
</div>
  </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- Begin Login Content Area -->
<div class="page-section mb-60">
  <div class="container">
      <div class="row">

                  <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
              <form  method="POST">
                  {% csrf_token %}
                  <div class="login-form">
                      <h4 class="login-title">Register</h4>
                      <div class="row">
                             <div class="col-md-12 mb-20">
                                 {{ form.username|as_crispy_field }}
                          </div>
                          <div class="col-md-6 col-12 mb-20">
                      {{ form.first_name|as_crispy_field }}
                          </div>
                          <div class="col-md-6 col-12 mb-20">
                             {{ form.last_name|as_crispy_field }}
                          </div>
                          <div class="col-md-12 mb-20">
                              {{ form.email|as_crispy_field }}
                          </div>
                          <div class="col-md-6 mb-20">
                              {{ form.password1|as_crispy_field }}
                          </div>
                          <div class="col-md-6 mb-20">
                           {{ form.password2|as_crispy_field }}
                          </div>
                          <div class="col-12">
                              <button class="register-button mt-0">Register</button>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
     
      </div>
  </div>
</div>
<!-- Login Content Area End Here -->
{% comment %} <!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area ">
  <div class="container ">
    <div class="breadcrumb-content">
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li class="active"> Register</li>
      </ul>
    </div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="atert"><h1 class=text-center>{{ message }}</h1></div>
        {% endfor %}
        {% endif %}
  </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- Begin Login Content Area -->
<div class="page-section mb-60 ">
  <div class="container ">
    <div class="row ">


      <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12 ">
        <form action="{% url 'user_register' %}" method="POST">
          {% csrf_token %}

          <div class="login-form">
            <h4 class="login-title">Register</h4>
            <div class="row">
              
              <div class="col-md-6 col-12 mb-20">
                <label>First Name</label>
                <input class="mb-0" type="text" placeholder="First Name" />
              </div>
              <div class="col-md-6 col-12 mb-20">
                <label>Last Name</label>
                <input class="mb-0" type="text" placeholder="Last Name" />
              </div>
              <div class="col-md-12 mb-20">
                <label>User Name*</label>
                <input class="mb-0" type="username" placeholder="User Name" />
              </div>
              <div class="col-md-12 mb-20">
                <label>Email Address*</label>
                <input class="mb-0" type="email" placeholder="Email Address" />
              </div>
              <div class="col-md-6 mb-20">
                <label>Password</label>
                <input class="mb-0" type="password" placeholder="Password" />
              </div>
              <div class="col-md-6 mb-20">
                <label>Confirm Password</label>
                <input
                  class="mb-0"
                  type="password"
                  placeholder="Confirm Password"
                />
              </div>
              <div class="col-12">
                <button class="register-button mt-0">Register</button>
              </div>
            </div>
          </div>
        </form>
      </div> 
    </div>
  </div>
</div> {% endcomment %}
<!-- Login Content Area End Here -->
{% endblock anather_content %} 
{% block footer %} 
{% include "footer.html" %} 
{% endblock footer %}
